doctype html
html
	head
		title gulp-sprocket-starter
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		meta(author="LucienLee")
		!= stylesheetLinkTag("application",  {assetsPath: "./css/"})
	body
		div.container
			div.bg
			div.content
				h1 Start Your Front-end Development
				p Have fun with gulp-sprocket-starter and write your source code in src directory!
			
		!= javascript_include_tag("application",  {assetsPath: "./js/"})
