doctype html
html
	head
		title gulp-sprocket-starter
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		meta(author="LucienLee")
		!= stylesheetLinkTag("application",  {assetsPath: "/css/"})
	body
		h1 tes
		h2 12s1
		img(src="img/99.jpg")
		!= javascript_include_tag("application",  {assetsPath: "/js/"})
